<h1>Editing student</h1>
<%= render "form", student: @student %>
<br>

<div class="mt-3">
  <%= link_to "Show this student", @student, class: "btn btn-success", aria: {label: 'Show this student'} %> |
  <%= link_to "Back to search", students_path, class: "btn btn-secondary", aria: {label: 'Back to search'} %>
</div>
